*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Oxygen', sans-serif;
  background-image: linear-gradient(to top, rgb(12, 12, 12) , rgb(58, 58, 57));
  /* background: blue; */
  /* background: #198775; */
}
/*-----------------------------------------------------------------------------*/
/*HEADER PART*/

.outer-header{
  height: 100px;
  border: solid;
  background-image: linear-gradient(to top, rgb(12, 12, 12) , rgb(58, 58, 57));
  background-color: #198775;
  z-index: 100;
  position: relative;
}
.header{
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  /* border-bottom-color: rgb(62, 102, 235); */
  border-bottom-color: linear-gradient(to top, rgb(12, 12, 12) , rgb(58, 58, 57));
  /* background-color: black; */
  margin-top: 40px;
 
}
.left-header{
  width: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.ham-menu{
  height: 25px;
  width: 25px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -5px;
  color: white;
  font-weight: bolder;
  cursor: POINTER;
}
.ham-text{
  color: white;
  font-weight: bold;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  margin-top: 30px;
  margin-left: -50px;
}
.logo{
  height: 50px;
  margin-left: 70PX;
  
}

/* .middle-header{
  
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-bar{
  height: 38px;
  width: 500px;
  flex: 1;
  padding-left: 10px;
  font-size: 16px;
  border-color: rgb(192, 192, 192);
  border-style:solid;
  border-width: 1px;
  /* border-radius: 40px; */
  /* box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);   */
   /* note-this inset concept */
   /* width:0; */
   /* margin-left: 180px; */
  /* } */
/* .search-bar::placeholder{
  font-size: 15px;

}
.search-button{
  height: 38px;
  width: 66px;
  background-color: rgb(240, 238, 238);
  border-style:solid;
  border-width: 1px;
  border-color: rgb(192, 192, 192);
  cursor: pointer;
  margin-left: -1px;
  position: relative;} */
  /* border-radius: 50px; */
/* }
.search-button:hover{
  background-color: rgba(250, 238, 238, 0.829);
}



.search-icon{
  height: 25px;
  margin-top: 4px;
  
}  */

.LOGO-NAME{
  margin: 0;
  padding: 0;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: 50px;

  

}
p.LOGO-NAME{
  font-family:'poppins';
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 1px;
  text-align: center;
  background: linear-gradient(135deg,#ff00d2,#fed90f,#00a2ff,#09f1b8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 300%;
  animation:gradient 8s ease-in-out infinite;

   
}
@keyframes gradient{
  0%{
    background-position: 0% 50%;

  }
  50%{
    background-position: 100% 0%;

  }
  100%{
    background-position: 0% 50%;

  }

}

.right-header{
  
  width: 200px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0; 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid; */
  font-family: 'Poppins',sans-serif;
}

:root{
  --cir:#222327;
}


.right-header{
  width: 400px;            /*width yaha se adjust hogi*/
  /* border: solid white; */
  height: 60px;            /*orginial(70)height yaha se adjust hogi*/
   background: black;  /* color original white */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 5px; */
  margin-right: -5px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  /* border-bottom-color: rgb(62, 102, 235); */
  border-bottom-color: linear-gradient(to top, rgb(12, 12, 12) , rgb(58, 58, 57));

}

.right-header ul{
  display: flex;
  width: 350px;
}

.right-header ul li{
  position: relative;
  list-style: none;
  width: 66px;      /*original-> 70x70px*/
  height: 58px;
  z-index: 1;
}

.right-header ul li a{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.right-header ul li a .icon{
  position: relative;
  display: block;
  line-height: 65px;   /*original(75px)*/
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  /* color: var(--cir); */
  color: azure;
}

.right-header ul li.active a .icon{
  transform: translateY(-20px);  /*original(-35px)*/
}

.right-header ul li a .text{
  position: absolute;
  /* color: var(--cir); */
  color: azure;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}

.right-header ul li.active a .text{
  opacity: 1;
  transform: translateY(10px);
}

.indicator{
  top: -35%;          /*original(-50%)*/
  position: absolute;
  width: 65px;        /*original-(70x70px)*/
  height: 58px;
  /* background: #198775;  original green */
  background: linear-gradient(to bottom, rgb(30, 142, 247) , rgb(35, 98, 139));
  border-radius: 50%;
  border: 6px solid var(--cir);
  transition: 0.5s;
}

.indicator::before{
  content: '';
  position: absolute;
  top: 32%;   /*original(50%)*/
  left: -22px;
  /* width: 20px; */
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 var(--cir);
}

.indicator::after{
  content: '';
  position: absolute;
  top: 32%;   /*original(50%)*/
  right: -22px;
  /* width: 20px; */
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 var(--cir);
}


.right-header ul li:nth-child(1).active ~ .indicator{
  transform: translateX(calc(66px*0)); /*original(70px)*/
}

.right-header ul li:nth-child(2).active ~ .indicator{
  transform: translateX(calc(66px*1));
}

.right-header ul li:nth-child(3).active ~ .indicator{
  transform: translateX(calc(66px*2));
}

.right-header ul li:nth-child(4).active ~ .indicator{
  transform: translateX(calc(66px*3));
}

.right-header ul li:nth-child(5).active ~ .indicator{
  transform: translateX(calc(66px*4));
}


/*-----------------------------------------------*/
/*HEADER PART-2*/

.navbar{
  display: flex;
  align-items: center;;
  padding: 20px;
}

nav{
  flex: 1;
  text-align: right;
}

nav ul{
  display: inline-block;
  list-style-type: none;
}

nav ul li{
  display: inline-block;
  margin-right: 20px;
}

a{
  text-decoration: none;
  color: #555;
  
}


p{
  color: #e9e8e8;
}

.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

/*---------------------------------------------------------*/

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-1{
  flex-basis: 50%;
  min-width: 300px;
}

.col-1 img{
  max-width: 85%;
  margin-left:70px;
  padding: 50px 0;
  width: 600px;
  /* margin-left: 10px; */
}

.col-1 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px ;
}
.col-1 p{
  margin-left: 26px;
}

.button{
  display: inline-block;
  /* background: #fe0a0afb; */
  background-image: linear-gradient(to right, rgb(50, 9, 163) , rgb(78, 222, 241));
  color: #fff;
  padding: 8px 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 26px;
  border-radius: 30px;
  transition:  0.5s;
}

.button:hover{
  background: #563434;
}

/*is header me picture add hogi agr krni ho in future*/
.header-2{
  height: 85vh;
  background: url(img/dowload1.jpg);
  background-position: center;
  background-size: cover;
}
/*ye top se shift krne ka hai */
.header-2 ,.row{
  /* margin-top: 100px;               navbar ki adjustment yaha se hogi */
}
/*
.categories{
  margin: 70px 0;
  border: solid;            
}

.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}


.col-3 img{
  width: 100%;
}

.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  border: solid;      
 }

*/
/*-----------automatic sliders---------------*/
.auto-slider{
  height: 250px;
  margin: auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
  /* border:solid;   need in future */
  margin-top: 50px;
  margin-bottom: 50px;
}
.slide-track{
  display: flex;
  width: calc(250px*10);
  animation: scroll 40s linear infinite;
}
.slide-track:hover{
  animation-play-state: paused;
}
@keyframes scroll {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-250px*5));
  }
}

.slide-1{
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}
img{
  width: 100%;
  transition: transform 1s;
}
img:hover{
  transform: translateZ(20px);
}
/*gradient shadows*/
.auto-slider::before,
.auto-slider::after{
  background: linear-gradient(to right,rgb(54, 145, 248) 0%,rgb(179, 166, 166,0) 10%);
  /*need in future*/
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}
.auto-slider::before{
  left: 0;
  top: 0;
}
.auto-slider::after{
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  /* border: solid;       */
 }

.col-4{
  /* border: solid;           need in future */
  flex-basis: 23%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
  box-shadow:  0px 3px 7px #6d6c6c ;
}
.col-4 img{
  width: 100%;  
             
}

.title{
  text-align: center;
  margin: 30px auto 80px;
  position: relative;
  line-height: 60px;
  color: white;
  font-size: 3rem;
}

.title::after{
  content: '';
  /* background: #ff523b; */
  background:  rgb(78, 222, 241);
  width: 250px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
   bottom: 0; 
   left: 50%;
  transform: translateX(-50%);

}



h4{
  color: #f1f1f1;
  font-weight: normal;
}

.col-4 p{
  font-size: 14px;

}

.rating .fa{
  color: gold;
}

.col-4:hover{
  transform: translateY(-5px);
}
.slide-outer{
  background: url(img/download.jpg);
  background-position: center;
  background-size: cover;
  height: 570px;
  margin-top: 100px;
}


main {
  width: 60%;  /*90%*/
  height: 500px;
  margin: auto;
  margin-top:100px;
  /* border: solid; */
  position: relative;
  overflow: hidden;
}

.slide{
  width: 100%; /*89.9%*/
  height: 90%;
  position: absolute;
  transition: 1s;
  margin-top: 15px;
}
.slider{
  text-align: center;
  margin-top: 10px;
}
.slidemain{
  /* padding: 10px; */
}

.slide-btn{
  border: none;
  width: 40px;
  height: 30px;
  font-size: 30px;
  /* background-color: #ff523b; */
  background-image: linear-gradient(to right, rgb(50, 9, 163) , rgb(78, 222, 241));
  color: white;
  /* padding-top: 2px; */
  padding-bottom: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.slide-btn:hover{
  opacity: 0.8;
}


/*-----------------brands----------*/
.brands{
  margin: 75px auto;
  /* border: solid;   need in future */
  box-sizing: border-box;
}

.col-5 img{
  width: 160px;
}

.col-5 img{
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%); /*important property*/
}

.col-5 img:hover{
  filter: grayscale(0);
}

.col-x img{
  width: 160px;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-amd img{
  width: 100px;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-asus img{
  width: 160px;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-intel img{
  width: 160px;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-amd,.col-asus,.col-5,.col-intel,.col-x{
  vertical-align: center;
  margin-bottom: 60px;
}
.col-x img:hover,.col-amd img:hover,.col-asus img:hover,.col-intel img:hover{
  filter: grayscale(0);
}





/*-----------------footer--------------*/
.footer{
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 10px;
}

.footer p{
  color: #8a8a8a;
}

.footer h3{
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
 min-width: 250px;
 margin-bottom: 20px;
}

.footer-col-1{
  flex-basis: 30%;
}

.footer-col-2{
  flex:1;
  text-align: center;
}

.footer-col-2 img{
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3,.footer-col-4{
  flex-basis: 12%;
  text-align: center;
}

ul{
  list-style-type: none;
}

.app-logo{
  margin-top: 20px;
}

.app-logo img{
  width: 140px;
}

.footer hr{
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

.copyright{
  text-align: center;
}

.menu-icon{
  width: 28px;
  margin-left: 20px;
}